<!DOCTYPE html>
<html>
	{% block head %}
	
	{% endblock %}
	<body>
		<!--头部主体-->
		{% block content %}
		
		{% endblock %}
		<!--右边侧栏-->
		<div class="nav">
			<ul>
				<li><img class="kefu" src="img/nav0.png"/><img src="img/right11.jpg"/></li>
				<li class="li_p"><a href="/shoppingCart/"><img class="cart" src="img/right20.jpg"/></a><p>0</p></li>
				<li><img class="kefu" src="img/nav1.png"/><img src="img/right30.jpg"/></li>
				<li><img class="kefu" src="img/nav2.png"/><img src="img/right40.jpg"/></li>

                <li><img class="kefu" src="img/nav4.png"/><img src="img/right50.jpg"/></li>
				<li><img class="img_last" src="img/right60.jpg"/></li>

			</ul>
			<ul>

			</ul>
		</div>
	</body>
</html>
